<a href="https://colab.research.google.com/github/Khushi17Kaushik/Google-Colab/blob/main/Calendar_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
'''
   author @anantshahi 
   windows 7
   Google Colab
'''

'\n   author @anantshahi \n   windows 7\n   Google Colab\n'

In [ ]:
############ CALENDAR TEST ##############

In [44]:
date = int(input("Enter the date :\t"))

Enter the date :	15

In [27]:
year = int(input("Enter the last 2 digit of year dont count zero at the tens position:\t"))

Enter the last 2 digit of year dont count zero at the tens position:	7

In [28]:
a = year/4
print(a)

1.75

In [29]:
b = a+date
print(b)

23.75

In [30]:
month=int(input("Enter the month number:\t"))

Enter the month number:	2

In [31]:
if month==1:
   c = 1+b
   print(c)
elif month==2:
   c = 4+b
   print(c)
elif month==3:
   c = 4+b
   print(c)
elif month==4:
   c = 0+b
   print(c)
elif month==5:
   c = 2+b
   print(c)
elif month==6:
   c = 5+b
   print(c)
elif month==7:
   c = 0+b
   print(c)
elif month==8:
   c = 3+b
   print(c)
elif month==9:
   c = 6+b
   print(c)
elif month==10:
   c = 1+b
   print(c)
elif month==11:
   c = 4+b
   print(c)
elif month==12:
   c = 6+b
   print(c)
else:
   print("wrong information")

27.75

In [32]:
if year%4==0 and (month==1 or month==2):
   d = c-1
   print(d)
else:
   print(c)

27.75

In [34]:
Newvalue = float(input("Enter the above value calculated:\t"))

Enter the above value calculated:	27.75

In [35]:
century = int(input("Enter the century 1700,1800,1900,2000:\t"))

Enter the century 1700,1800,1900,2000:	2000

In [36]:
if century==1700:
   Total = 4+Newvalue 
   print(Total)
if century==1800:
   Total = 2+Newvalue
   print(Total)
if century==1900:
   Total = 0+Newvalue
   print(Total)
if century==2000:
   Total = 6+Newvalue
   print(Total)

33.75

In [37]:
add= Total+year
print(add)

40.75

In [41]:
div= add%7
print(div)

5.75

In [ ]:
print("If the above required number is in decimal")

If the above required number is in decimal

In [42]:
Value = int(input ("Enter the above value not including the decimal value"))

Enter the above value not including the decimal value5

In [43]:
 if Value==0:
   print("Saturday")
if Value==1:
   print("Sunday")
if Value==2:
   print("Monday")
if Value==3:
   print("Tuesday")
if Value==4:
   print("Wednesday")
if Value==5:
   print("Thursday")
if Value==6:
   print("Friday")

Thursday

In [ ]:
################ ♤♤♤ ##################